.confirm-btn {
    border: none;
    aspect-ratio: 1;
    width: clamp(50px, 10vw, 64px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-image: url('/assets/SVG/confirm.svg');
}

.cancel-btn {
    border: none;
    aspect-ratio: 1;
    width: clamp(50px, 10vw, 64px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background: transparent;
    background-image: url('/assets/SVG/cancel.svg');
}

.logout-btn {
    border: none;
    aspect-ratio: 1;
    width: clamp(50px, 10vw, 64px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background: transparent;
    background-image: url('/assets/SVG/logout.svg');
}

.back-btn {
    border: none;
    aspect-ratio: 1;
    width: clamp(50px, 10vw, 64px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background: transparent;
    background-image: url('/assets/SVG/backward.svg');
}

.continue-btn {
    border: none;
    aspect-ratio: 1;
    width: clamp(50px, 10vw, 64px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background: transparent;
    background-image: url('/assets/SVG/forward.svg');
}

.green-btn {
    aspect-ratio: 2.27;
    border: none;
    background-color: transparent;
    background-image: url("/assets/SVG/green-btn.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: clamp(200px, 45vw, 280px);
    color: #fff;
    font-family: 'giulia-plain';
    font-weight: 500;
    font-size: clamp(28px, 5vw, 40px);
    text-shadow: 2.5px 2.5px rgba(0, 0, 0, .20);
}

.grey-btn {
    aspect-ratio: 2.27;
    border: none;
    background-color: transparent;
    background-image: url("/assets/SVG/grey-btn.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: clamp(200px, 45vw, 280px);
    color: #fff;
    font-family: 'giulia-plain';
    font-weight: 500;
    font-size: clamp(28px, 5vw, 40px);
    text-shadow: 2.5px 2.5px rgba(0, 0, 0, .20);
}

.red-btn {
    aspect-ratio: 2.27;
    border: none;
    background-color: transparent;
    background-image: url("/assets/SVG/red-btn.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: clamp(200px, 45vw, 280px);
    color: #fff;
    font-family: 'giulia-plain';
    font-weight: 500;
    font-size: clamp(28px, 5vw, 40px);
    text-shadow: 2.5px 2.5px rgba(0, 0, 0, .20);
}

.reg-btn {
    aspect-ratio: 2.27;
    border: none;
    background-color: transparent;
    background-image: url("/assets/SVG/yellow-btn.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: clamp(200px, 45vw, 280px);
    color: #fff;
    font-family: 'giulia-plain';
    font-weight: 500;
    font-size: clamp(28px, 5vw, 40px);
    text-shadow: 2.5px 2.5px rgba(0, 0, 0, .20);
}


.sm-btn {
    border: none;
    aspect-ratio: 3.02;
    width: clamp(140px, 20vw, 200px) !important;
    background-color: transparent;
    background-image: url("/assets/elements/board-button.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'giulia-plain';
    font-weight: 600;
    font-size: clamp(20px, 3vw, 24px);
    color: #663000 !important;
    padding: 0 10px 10px;
    transition: transform 200ms linear; /* Sets parameters for hover animations */
}

.md-btn {
    border: none;
    aspect-ratio: 3.02;
    width: clamp(250px, 60vw, 300px) !important;
    background-color: transparent;
    background-image: url("/assets/elements/board-button.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'giulia-plain';
    font-weight: 600;
    font-size: clamp(25px, 3.8vw, 32px);
    color: #663000 !important;
    padding: 0 10px 10px;
    transition: transform 200ms linear; /* Sets parameters for hover animations */
}

.sm-btn:hover .md-btn:hover {
    transform: scale(0.85); /* Scales the button 1.15x on hover using above parameters */
}


/* Asset Stylings */

.buddy-avatar {
    width: 45%;
    min-width: 150px;
    max-width: 250px;
    position: absolute;
    top: auto;
}

.bg-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
}

.head-board {
    aspect-ratio: 2.74;
    background-image: url('/assets/elements/header-board.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: clamp(350px, 95vw, 650px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-board h1 {
    color: #663000;
    font-weight: 500;
    font-size: clamp(64px, 16vw, 100px);
    text-shadow: -3px -3px 2px #4C2400;
}

.lrg-board-sq {
    aspect-ratio: 1.29;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: clamp(4px, 5vw, 24px);
    background-image: url('/assets/elements/lrg-board.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: clamp(350px, 95vw, 650px);
    color: #663000;
}

.lrg-board-sq h4 {
    font-size: clamp(36px, 5vw, 64px);
    text-shadow: -2px -2px 2px #4C2400;
    margin: 1.5% 0;
}

.lrg-board-sq p {
    font-size: clamp(18px, 3vw, 22px);
    color: #4C2400;
    -webkit-text-stroke: .35px;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    min-height: 100vh;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .head-board h1 {
        text-shadow: -1.5px -1.5px 2px #4C2400;;
    }

    .lrg-board-sq h4 {
        text-shadow: -1px -1px 1.5px #4C2400;;
    }
}