/* Small Screen Stylings */
@media screen and (max-width: 767px) {

    #welcome {
        margin-top: 12.5%;
    }

    #welcome h1 {
        -webkit-text-stroke: 4px #663000;
    }

    #about-us, #prepopulated-tasks {
        background-size: 150%;
    }

    #about-us-header {
        width: 85%;
    }

    #about-us-header h1 {
        -webkit-text-stroke: 0.5px inherit !important;
    }

    .friend-box {
        width: 100%;
    }

    .friends-list {
        padding: 32px;
    }

    .team-card {
        flex-direction: column;
    }

    .team-info {
        background-image: url("/assets/SVG/input\ board\ no\ ribbon.svg");
        aspect-ratio: 1.31;
        width: 91%;
        padding: 12px;
        justify-content: center;
        align-content: center;
    }

    .team-img {
        width: 80vw;
    }

    #timmy {
        flex-direction: column;
    }

    #to-do {
        background-image: url("/assets/bg/to-do-bg.webp");
    }

    .group-task-card {
        min-width: 330px !important;
    }

    #groups-task-content {
        flex-wrap: wrap;
    }

    #group-task-creation {
        width: 80vw !important;
    }

    #chat-container {
        width: 100%;
    }

    .msg-close {
        margin-top: 36px;
    }

    .msg-popup {
        gap: 20px;
    }

    .msg-popup-buttons {
        padding-top: 10px;
    }

    .msg-popup-text {
        padding: 24px;
    }

    .msg-popup-head {
        padding-top: 24px;
    }

    .option-menu-btns {
        gap: 12px;
        margin-top: -8px;
    }

    #task-list {
        padding: 0;
    }

    .task-list-title {
        width: 100%;
        text-align: center;
    }

    #user-greeting {
        margin-top: 60px !important;
    }

    #user-greeting,
    #name-goes-here {
        -webkit-text-stroke: 4px #663000;
    }

    #task-container {
        padding-top: 60px;
        gap: 15px !important;
    }

    .task-card {
        padding-top: 16px !important;
    }

    .task-card .add-btn-box {
        top: 24px;
    }

    .task-info {
        background-repeat: no-repeat;
        width: 100%;
    }

    .task-title {
        top: 8px;
    }

    #user-profile-info {
        flex-direction: column;
    }

    #user-card, #user-stats {
        width: 100% !important;
    }

}