/* Keyframe Animations */
@keyframes fadeInFromBottom {
    0% {
        opacity: 0; /* Start fully transparent */
        transform: translateY(30px); /* Start 30px below */
    }
    100% {
        opacity: 1; /* End fully opaque */
        transform: translateY(0); /* End at original position */
    }
}

/* Font Stylings */
* {
    font-family: 'museo-sans';
    font-weight: 600;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: 'giulia';
    font-weight: 500;
    margin: 0;
}

h3, h4, h5 {
    font-family: 'giulia-plain';
    margin: 0;
}

h6 {
    font-family: 'museo-sans-condensed';
    font-weight: 700;
    text-transform: uppercase;
}

/* Navbar Styling */
#navbar {  /* Main header container */
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Sets header to be the highest layer; will always overlay content */
    position: fixed; /* Fixes the header position to bottom even when scrolling */
    bottom: 0px;
    animation: fadeInFromBottom 700ms ease forwards; /* Apply the animation */
    animation-delay: 0ms; /* Delay before the animation starts */
}

#about-us-btn {
    position: fixed;
    z-index: 999;
    top: 5px;
    right: 5px;
}

#info {
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    background-image: url("/assets/elements/about-us.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: clamp(44px, 10vw, 64px);
    transition: transform 200ms linear; /* Sets parameters for hover animations */
}

#info:hover {
    transform: scale(0.85); /* Scales the button 1.15x on hover using above parameters */
}

#nav-links { /* Navigation container */
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8px 4px;
}

#nav-links img {
    width: clamp(40px, 8vw, 60px);
}

#nav-links a {
    transition: transform 200ms linear; /* Sets parameters for hover animations */
}

#nav-links a:hover {
    transform: scale(1.15); /* Scales the button 1.15x on hover using above parameters */
}

/* Demo Main Page Container Styling */
#main-page {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/bg/daytime-forest.svg');
    background-position: bottom center;
    background-size: cover;
}

#main-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#welcome {
    text-align: center;
    position: absolute;
    top: 3.5%;
    color: #FAF9DA;
    max-width: 800px;
}

#welcome h1 {
    font-size: clamp(72px, 15vw, 160px) !important;
    font-weight: 900;
    letter-spacing: -0.25vw;    
    -webkit-text-stroke: 6px #663000;
}

#main-content #bear-buddy {
    width: 40%;
    min-width: 150px;
    max-width: 220px;
    position: absolute;
    bottom: 29%;
    top: auto;
}

#home-login {
    position: relative;
    margin-bottom: 35%;
}

/*Group page */
.group-page{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/bg/hallway-01.png');
    background-position: bottom center;
    background-size: cover;
}

.group-content{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.group-title{
    text-align: center;
    position: absolute;
    top: 3.5%;
    color: #FAF9DA;
    max-width: 800px;
}

.group-title h1{
    font-size: clamp(52px, 15vw, 90px) !important;
    font-weight: 900;
    letter-spacing: -0.25vw;    
    -webkit-text-stroke: 6px #663000;
}

.group-option{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 18%;
}

.group-option button{
    font-size: clamp(15px, 15vw, 25px) !important;
}




/* About Us Page Styling */
#about-us {
    width: 100%;
    min-height: 100vh;
    background-image: url("/assets/bg/forest-pattern.png");
    background-size: 45%;
    display: flex;
    justify-content: center;
}

#about-us-content {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
    padding-bottom: 85px;
}

#dev-team {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

#dev-team h3 {
    font-weight: 700;
    font-size: clamp(32px, 4vw, 44px);
    margin-bottom: 0px;
}

#dev-team h4 {
    font-size: clamp(24px, 3vw, 32px);
    font-weight: 600;
    margin-bottom: 8px;
}

#timmy {
    flex-direction: row-reverse;
}

.team-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.team-img-frame {
    padding: 5px;
    background-image: url("/assets/elements/team-img-frame.svg");
    background-size: contain;
    aspect-ratio: 1;
}

.team-img {
    aspect-ratio: 1;
    width: 22.5vw;
    max-width: 300px;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
}

.team-info {
    aspect-ratio: 2.24;
    width: 77.5%;
    max-width: 600px;
    background-image: url("/assets/elements/team-info-bg.svg");
    background-position: center center;
    background-size: cover;
    padding: 16px;
    text-align: center;
    color: #663000;
}

/* To-Do List */

#to-do-buddy {
    top: 15%;
}

/* Small Screen Stylings */
@media screen and (max-width: 900px) {

#welcome {
    margin-top: 12.5%;
}

#welcome h1 {
    -webkit-text-stroke: 4px #663000;
}

#about-us {
    background-size: 85%;
}

#about-us-header {
    width: 85%;
}

.team-card {
    flex-direction: column;
}

.team-info {
    background-image: url("/assets/elements/lrg-board.svg");
    aspect-ratio: 1.29;
    width: 91%;
    padding: 12px;
    justify-content: center;
    align-content: center;
}

.team-img {
    width: 80vw;
}

#timmy {
    flex-direction: column;
}

#to-do {
    background-image: url("/assets/bg/to-do-bg.webp");
}
    
}

